global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

# Kubernetes API — TCP passthrough to API VIP
frontend api
    bind *:6443
    default_backend ocp-api

backend ocp-api
    server api-vip {{ bastion_haproxy_api_vip }}:6443 check

# OCP apps ingress — HTTPS TCP passthrough to Ingress VIP
frontend apps-https
    bind *:443
    default_backend ocp-apps-https

backend ocp-apps-https
    server ingress-vip {{ bastion_haproxy_ingress_vip }}:443 check

# OCP apps ingress — HTTP to Ingress VIP
frontend apps-http
    bind *:80
    default_backend ocp-apps-http

backend ocp-apps-http
    server ingress-vip {{ bastion_haproxy_ingress_vip }}:80 check

# Stats (local only)
listen stats
    bind 127.0.0.1:{{ bastion_haproxy_stats_port }}
    mode http
    stats enable
    stats uri /haproxy-stats
